.resizable {
  position: relative;
}
.resizable.no-transition {
  transition: none !important;
}

.rg-right, .rg-left, .rg-top, .rg-bottom {
  display: block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  position: absolute;
  z-index: 1;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: transparent;
}
.rg-right span, .rg-left span, .rg-top span, .rg-bottom span {
  box-sizing: border-box;
  display: block;
  border: 1px solid #ccc;
}

.rg-right span, .rg-left span {
  border-width: 0 1px;
  height: 100%;
  width: 100%;
}

.rg-top span, .rg-bottom span {
  border-width: 1px 0;
  height: 100%;
  width: 100%;
}

.rg-top {
  cursor: row-resize;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: -14px;
}

.rg-right {
  cursor: col-resize;
  height: 100%;
  right: 0;
  top: 0;
  margin-right: -14px;
}

.rg-bottom {
  cursor: row-resize;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: -14px;
}

.rg-left {
  cursor: col-resize;
  height: 100%;
  left: 0;
  top: 0;
  margin-left: -14px;
}

.rg-left div, .rg-right div {
  position: absolute;
  top: 50%;
  margin: -14px 0 0 0;
  height: 28px;
  width: 12px;
  padding: 3px;
}

.rg-top div, .rg-bottom div {
  position: absolute;
  right: 50%;
  margin: 0 -14px 0 0;
  height: 12px;
  width: 28px;
  padding: 3px;
}

.rg-left div {
  right: 0;
}
.rg-right div {
  left: 0;
}
.rg-top div {
  bottom: 0;
}
.rg-bottom div {
  top: 0;
}